
.showDate {
    position: relative;
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border:10px solid black;
    padding: 5px;
    background: #ffd73e33;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}
.showStringDate{
    position: absolute;
    z-index: 1;
    padding: 10px;
    left: 90px;
    top: -40px;
    background-color: lightblue;
    border-radius: 5px;
}
.showStringTime{
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: darkcyan;
    border-radius: 5px;
    cursor: pointer;
}
.btn__group{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn {
    text-decoration: none;
    color: #6b5770;
    background-image: linear-gradient(90deg, #fd7f34, #bd155b);
    display: inline-block;
    padding: 14px 30px;
    border: 1px solid;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}
.btn:before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(90deg, #fd7f34, #bd155b);
    z-index: -2;
    transition: .4s;
    border-radius: 5px;
}
.btn:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fff, #fff);
    z-index: -1;
    transition: .4s;
    border-radius: 4px;
}
.btn:hover {
    color: #fff;
    transition: .3s;
}
.btn:hover:after {
    background: linear-gradient(90deg, #fd7f34, #bd155b);
}
.btn:active:after {
    background: linear-gradient(90deg, #d96d2d, #760f3a);
}
.btn:focus-visible {
    box-shadow: 0 0 0 3px #fd7f34;
}
.btn:disabled {
    pointer-events: none;
}
.btn:disabled:before {
    filter: grayscale(100%);
}