.form {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative
}
.form input{
    width: 80%;
    padding: 20px;
    outline: none;
    border-radius: 5px;
    box-shadow: 10px 5px 5px lightgray;
}
.form button {
    padding: 20px;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.errorText{
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
    bottom: 0;
}
.validate{
    border: 1px solid grey;
}
.error {
    border: 1px solid red;
}
.user__list{
    width: 26%;
    margin: 0 auto;
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.user__list li {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: #D3D4DA;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}
.user__list li:hover {background: #DCDDE1;}
.user__list li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #9097A2;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}
.user__list li:after {
    position: absolute;
    content: "";
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}
.user__list li:hover:after {
    left: -.5em;
    border-left-color: #9097A2;
}